parameters:
    level: 4
    ignoreErrors:
        -
            message: '#Result of && is always false#'
            path: 'src/Middleware/AuthorizationMiddleware.php'
        -
            message: '#Else branch is unreachable because ternary operator condition is always true#'
            path: 'src/Middleware/AuthorizationMiddleware.php'
        -
            message: '#Else branch is unreachable because ternary operator condition is always true#'
            path: 'src/Policy/OrmResolver.php'
