<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         backupGlobals="true"
         cacheDirectory=".phpunit.cache"
         bootstrap="tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
>

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="authorization">
            <directory>tests/TestCase/</directory>
        </testsuite>
        <!-- Add plugin test suites here. -->
    </testsuites>

    <extensions>
        <bootstrap class="Cake\TestSuite\Fixture\Extension\PHPUnitExtension"/>
    </extensions>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <php>
        <ini name="memory_limit" value="-1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>

        <!-- Postgres
        <env name="db_dsn" value="postgres://root@localhost/cake_test_db"/>
        -->
        <!-- Mysql
        <env name="db_dsn" value="mysql://root@localhost/cake_test_db"/>
        -->
    </php>
</phpunit>
