<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    bootstrap="tests/bootstrap.php"
    backupGlobals="true"
    convertDeprecationsToExceptions="true"
    >

    <!-- Add any additional test suites you want to run here -->
    <testsuites>
        <testsuite name="authorization">
            <directory>tests/TestCase/</directory>
        </testsuite>
        <!-- Add plugin test suites here. -->
    </testsuites>

    <extensions>
        <extension class="Cake\TestSuite\Fixture\PHPUnitExtension"/>
    </extensions>

    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>

    <php>
        <ini name="memory_limit" value="-1"/>
        <env name="FIXTURE_SCHEMA_METADATA" value="./tests/schema.php"/>

        <!-- Postgres
        <env name="db_dsn" value="postgres://root@localhost/cake_test_db"/>
        -->
        <!-- Mysql
        <env name="db_dsn" value="mysql://root@localhost/cake_test_db"/>
        -->
    </php>
</phpunit>
