---
name: 'deploy_docs 1.x'

on:
  push:
    branches:
      - 1.x

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Push to dokku
        uses: dokku/github-action@master
        with:
          git_remote_url: 'ssh://dokku@apps.cakephp.org:22/authorization-docs-1'
          ssh_private_key: ${{ secrets.DOKKU_SSH_PRIVATE_KEY }}
